<h1>Signup!</h1>


<%= form_for :user, url: '/users' do |f| %>

  <div class="form-group">
    <div>First Name:</div>
    <%= f.text_field :first_name %>
  </div>
  <div class="form-group">
    <div>Last Name:</div> 
    <%= f.text_field :last_name %>
  </div>
  <div class="form-group">
    <div>Email:</div>
    <%= f.text_field :email %>
  </div>
  <div class="form-group">
    <div>Password: </div>
    <%= f.password_field :password %>
  </div>
  <div class="form-group">
    <div>Password Confirmation: </div>
    <%= f.password_field :password_confirmation %>
  </div>
  <%= f.submit "Submit" %>
<% end %>